@{ ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_BlogLayout.cshtml"; }


<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-envelope-open-o bg-orange"></i> Bize Ulaşın <small class="hidden-xs-down hidden-sm-down"> </small></h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/HomePage/">Anasayfa</a></li>
                    <li class="breadcrumb-item active">İletişim</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-5">
                            <h4>Biz Kimiz ?</h4>
                            <p>Bulut Tekno, el yapımı, kamera yapımı fotoğraf içeriği, dünyanın dört bir yanındaki bağımsız kreatiflerden moda stilleri için kişisel bir blogdur.</p>
                        </div>
                        <div class="col-lg-7">
                            <form class="form-wrapper">
                                <input type="text" class="form-control" placeholder="Adınız">
                                <input type="text" class="form-control" placeholder="Eposta adresiniz">
                                <input type="text" class="form-control" placeholder="Konu">
                                <textarea class="form-control" placeholder="Mesajınız.."></textarea>
                                <button type="submit" class="btn btn-primary">GÖNDER <i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>