
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Bulut Tekno</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/BlogTECH/~/BlogTECH/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/BlogTECH/images/apple-touch-icon.png">

    <!-- Design fonts -->
    <link href="~/BlogTECH/https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="~/BlogTECH/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="~/BlogTECH/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/BlogTECH/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="~/BlogTECH/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="~/BlogTECH/css/colors.css" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="~/BlogTECH/css/version/tech.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="~/BlogTECH/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="~/BlogTECH/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="~/AdminLTE/menu/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

    <div id="wrapper">
        <header class="tech-header header">
            <div class="wrapper" style="z-index:999; top:0px; height:70px;">
                <nav>
                    <input type="checkbox" id="show-search">
                    <input type="checkbox" id="show-menu">
                    <label for="show-menu" style="margin-top:10px;" class="menu-icon"><i class="fas fa-bars"></i></label>
                    <div class="content">
                        <div class="logo"><a href="#">Bulut Tekno</a></div>
                        <ul class="links" >
                            <li style="margin-top:10px;"><a href="/Home/HomePage/">Anasayfa</a></li>
                            <li style="margin-top:10px;"><a href="/Home/Blog/">Blog</a></li>
                            <li style="margin-top:10px;"><a href="/Home/Video/">Videolar</a></li>
                            <li style="margin-top:10px;"><a href="/Home/News/">Haberler</a></li>
                            <li style="margin-top:10px;"><a href="/Writer/Default/Headings/">Sözlük</a></li>
                            <li style="margin-top:10px;"><a href="/Home/Contact/">İletişim</a></li>
                            <li style="margin-top:10px;">
                                <a class="go-icon" ><i class="fas fa-user" data-toggle="modal" data-target="#exampleModalCenter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <label for="show-search" style="margin-top:10px;" class="search-icon"><i class="fas fa-search"></i></label>
                    <form action="/Home/Search/" method="post" class="search-box">
                        <input type="text" name="p" placeholder="Aranacak bir şey yazın.." required>
                        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
                    </form>
                </nav>
            </div>
        </header><!-- end market-header -->
        <div class="contanier-fluid">
            <!--/Login-->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="login px-4 mx-auto mw-100">
                                <h5 class="text-center mb-4">Giriş Yap</h5>
                                <form action="/Login/WriterLogin/" method="post">
                                    <div class="form-group">
                                        <label class="mb-2">Eposta</label>
                                        <input type="email" name="WriterMail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="info@gmail.com" required="">
                                        <small id="emailHelp" class="form-text text-muted">E-postanızı asla başka biriyle paylaşmayacağız.</small>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-2">Şifre</label>
                                        <input type="password" name="WriterPassword" class="form-control" id="exampleInputPassword1" placeholder="******" required="">
                                        <small id="emailHelp" class="form-text text-muted"><a href="#">Şifremi Unuttum</a></small>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-left:3px;">
                                        <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                                    <p class="text-center pb-4">
                                        <a href="~/AdminLTE/web1/#" data-toggle="modal" data-target="#exampleModalCenter2"> Bir hesabınız yok mu?</a>
                                    </p>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--//Login-->
            <!--/Register-->
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="login px-4 mx-auto mw-100">
                                <h5 class="text-center mb-4">Kayıt Ol</h5>
                                <form action="/Login/WriterLogin/" method="post">
                                    <div class="form-group">
                                        <label>Adınız</label>

                                        <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                                    </div>
                                    <div class="form-group">
                                        <label>Soyadınız</label>
                                        <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                                    </div>

                                    <div class="form-group">
                                        <label class="mb-2">Şifre</label>
                                        <input type="password" class="form-control" id="password1" placeholder="" required="">
                                    </div>
                                    <div class="form-group">
                                        <label>Şifre Tekrar</label>
                                        <input type="password" class="form-control" id="password2" placeholder="" required="">
                                    </div>

                                    <button type="submit" class="btn btn-primary submit mb-4">Kaydol</button>
                                    <p class="text-center pb-4">
                                        <a href="#">
                                            Kaydol a tıklayarak, tüm şartları kabul ediyorum.
                                        </a>
                                    </p>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--//Register-->

            @RenderBody()
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="/Home/HomePage"><span class="text-white" style="font-size:40px;">Bulut Tekno</span></a>
                                <p>Bulut Tekno, pazarlama, haber makalelerini paylaştığımız bir teknoloji blogudur.</p>
                                <div class="social">
                                    <a href="~/BlogTECH/#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="~/BlogTECH/#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="~/BlogTECH/#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="~/BlogTECH/#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="~/BlogTECH/#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-left">
                                    <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="E posta adresinizi Girin">
                                        <button type="submit" class="btn btn-primary">GÖNDER</button>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popüler Kategoriler</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="~/BlogTECH/#">Pazarlama <span>(21)</span></a></li>
                                    <li><a href="~/BlogTECH/#">SEO Hizmeti <span>(15)</span></a></li>
                                    <li><a href="~/BlogTECH/#">Dijital Ajans <span>(31)</span></a></li>
                                    <li><a href="~/BlogTECH/#">Para Kazanın <span>(22)</span></a></li>
                                    <li><a href="~/BlogTECH/#">Bloglama <span>(66)</span></a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Telif Hakları</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="~/BlogTECH/#">Hakkımızda</a></li>
                                    <li><a href="~/BlogTECH/#">Reklam</a></li>
                                    <li><a href="~/BlogTECH/#">Bizim için Yaz</a></li>
                                    <li><a href="~/BlogTECH/#">Marka</a></li>
                                    <li><a href="~/BlogTECH/#">Lisans & Yardım</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Bulut Tekno.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">^</div>

    </div><!-- end wrapper -->
    <!-- Core JavaScript
    ================================================== -->
    <script src="~/BlogTECH/js/jquery.min.js"></script>
    <script src="~/BlogTECH/js/tether.min.js"></script>
    <script src="~/BlogTECH/js/bootstrap.min.js"></script>
    <script src="~/BlogTECH/js/custom.js"></script>


    <!--//Register-->

    <script src="~/AdminLTE/web1/js/jquery-2.2.3.min.js"></script>

    <!-- Include jQuery Timeline Plugin -->
    <script src="~/AdminLTE/web1/js/jquery.roadmap.js"></script>

</body>
</html>

