
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}
<script src="~/AdminLT/assets/bundles/lib.vendor.bundle.js"></script>
<script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


<h2>Index</h2>

